<footer class="footer">
	<small>
		<p> &copy; Company 2014</p>
	</small>
	<ul>
		<li><%= link_to "About",    about_path %></li>
		<li><%= link_to "Contact Us",  sendemail_path %></li>
	</ul>
</footer>
